apiVersion: litmuschaos.io/v1alpha1
description:
  message: |
    Detaching a persistent disk from a node/instance for kafka.
kind: ChaosExperiment
metadata:
  name: kafka-broker-disk-failure
  version: 0.1.2
spec:
  definition:
    permissions:
      apiGroups:
        - ""
        - "extensions"
        - "apps"
        - "batch"
        - "litmuschaos.io"
      resources:
        - "daemonsets"
        - "statefulsets"
        - "deployments"
        - "replicasets"
        - "jobs"
        - "pods"
        - "pods/exec"
        - "chaosengines"
        - "chaosexperiments"
        - "chaosresults"
      verbs:
        - "*"
    image: "litmuschaos/ansible-runner:ci"
    args:
    - -c
    - ansible-playbook ./experiments/kafka/kafka-broker-disk-failure/kafka-broker-disk-failure-ansible-logic.yml -i /etc/ansible/hosts -vv; exit 0
    command:
    - /bin/bash
    env:
    - name: ANSIBLE_STDOUT_CALLBACK
      value: 'default'

    - name: KAFKA_KIND
      value: 'statefulset'

    - name: KAFKA_LIVENESS_STREAM
      value: 'enabled'

    - name: KAFKA_LIVENESS_IMAGE
      value: 'litmuschaos/kafka-client:ci'

    - name: KAFKA_CONSUMER_TIMEOUT
      value: '30000'

    - name: TOTAL_CHAOS_DURATION
      value: '15'

    - name: PROJECT_ID
      value: ''

    - name: DISK_NAME
      value: ''

    - name: ZONE_NAME
      value: '' 

    - name: CLOUD_PLATFORM
      value: 'GCP'

    - name: KAFKA_NAMESPACE
      value: ''

    - name: KAFKA_LABEL
      value: ''

    - name: KAFKA_BROKER
      value: ''

    - name: KAFKA_INSTANCE_NAME
      value: ''

    - name: KAFKA_REPLICATION_FACTOR
      value: ''

    - name: KAFKA_SERVICE
      value: ''

    - name: KAFKA_PORT
      value: ''

    - name: ZOOKEEPER_NAMESPACE
      value: ''

    - name: ZOOKEEPER_LABEL
      value: ''

    - name: ZOOKEEPER_SERVICE
      value: ''

    - name: ZOOKEEPER_PORT
      value: ''
    labels:
      name: kafka-broker-disk-failure
    secrets:
    - name: kafka-broker-disk-failure
      mountPath: /tmp/
      
