apiVersion: litmuschaos.io/v1alpha1
description:
  message: |
    Inject network packet corruption into application pod
kind: ChaosExperiment
metadata:
  name: pod-network-corruption
spec:
  definition:
    scope: Namespaced
    permissions:
      - apiGroups:
          - ""
          - "batch"
          - "litmuschaos.io"
        resources:
          - "jobs"
          - "pods"
          - "pods/log"
          - "events"
          - "chaosengines"
          - "chaosexperiments"
          - "chaosresults"
        verbs:
          - "create"
          - "delete"
          - "list"
          - "patch"
          - "update"
          - "get"
    image: "litmuschaos/go-runner:1.8.0"
    imagePullPolicy: Always
    args:
    - -c
    - ./experiments/pod-network-corruption
    command:
    - /bin/bash
    env:
    
    - name: TARGET_CONTAINER
      value: ''

    # provide lib image
    - name: LIB_IMAGE
      value: 'litmuschaos/go-runner:1.8.0' 

    - name: NETWORK_INTERFACE
      value: 'eth0'

    - name: TC_IMAGE
      value: 'gaiadocker/iproute2'

    - name: NETWORK_PACKET_CORRUPTION_PERCENTAGE
      value: '100' #in PERCENTAGE

    - name: TOTAL_CHAOS_DURATION
      value: '60' # in seconds

    # Time period to wait before and after injection of chaos in sec
    - name: RAMP_TIME
      value: ''

    - name: LIB
      value: 'litmus'

    ## percentage of total pods to target
    - name: PODS_AFFECTED_PERC
      value: ''

    - name: TARGET_POD
      value: ''

    # provide the name of container runtime
    # it supports docker, containerd, crio
    # default to docker
    - name: CONTAINER_RUNTIME
      value: 'docker'

    # provide the container runtime path
    # applicable only for containerd and crio runtime
    - name: CONTAINER_PATH
      value: '/run/containerd/containerd.sock'
    labels:
      name: pod-network-corruption
