apiVersion: litmuschaos.io/v1alpha1
description:
  message: "Kills a container belonging to an application pod \n"
kind: ChaosExperiment
metadata:
  name: container-kill
  version: 0.1.4
spec:
  definition:
    permissions:
      - apiGroups:
        - ""
        - "apps"
        - "batch"
        - "litmuschaos.io"
      resources:
        - "deployments"
        - "daemonsets"
        - "jobs"
        - "pods"
        - "pods/exec"
        - "chaosengines"
        - "chaosexperiments"
        - "chaosresults"
      verbs:
        - "create"
        - "list"
        - "get"
        - "patch"
        - "delete"
    image: "litmuschaos/ansible-runner:ci"
    args:
    - -c
    - ansible-playbook ./experiments/generic/container_kill/container_kill_ansible_logic.yml -i /etc/ansible/hosts -vv; exit 0
    command:
    - /bin/bash
    env:

    - name: ANSIBLE_STDOUT_CALLBACK
      value: 'default'

    - name: TARGET_CONTAINER
      value: ''

    - name: LIB
      value: ''

    # provide lib image
    - name: LIB_IMAGE  
      value: 'gaiaadm/pumba:0.4.8' 

    labels:
      name: container-kill