apiVersion: litmuschaos.io/v1alpha1
description:
  message: "Kills a container belonging to an application pod \n"
kind: ChaosExperiment
metadata:
  name: container-kill
  version: 0.1.24
spec:
  definition:
    scope: Namespaced
    permissions:
      - apiGroups:
          - ""
          - "apps"
          - "batch"
          - "litmuschaos.io"
        resources:
          - "jobs"
          - "pods"
          - "pods/log"
          - "events"
          - "pods/exec"
          - "chaosengines"
          - "chaosexperiments"
          - "chaosresults"
        verbs:
          - "create"
          - "list"
          - "get"
          - "update"
          - "patch"
          - "delete"
    image: "litmuschaos/go-runner:1.7.0"
    imagePullPolicy: Always
    args:
    - -c
    - ./experiments/container-kill
    command:
    - /bin/bash
    env:

    - name: TARGET_CONTAINER
      value: ''

    # Period to wait before and after injection of chaos in sec
    - name: RAMP_TIME
      value: ''

    # It supports pumba and litmus
    # pumba: for docker runtime
    # litmus: for containerd/crio runtime
    - name: LIB
      value: 'pumba'

    # provide the chaos interval
    - name: CHAOS_INTERVAL
      value: '10'

    # provide the container runtime path for containerd
    # applicable only for containerd runtime
    - name: CONTAINER_PATH
      value: '/run/containerd/containerd.sock'

    # provide the total chaos duration
    - name: TOTAL_CHAOS_DURATION
      value: '20'

    - name: LIB_IMAGE  
      value: 'litmuschaos/go-runner:1.7.0' 

    securityContext:
      containerSecurityContext:
        privileged: true
    
    labels:
      name: container-kill
