---
apiVersion: litmuschaos.io/v1alpha1
description:
  message: |
    Kill the cstor target/Jiva controller container and check if gets created again
kind: ChaosExperiment
metadata:
  labels:
    litmuschaos.io/name: openebs
  name: openebs-target-container-failure
  version: 0.1.9
spec:
  definition:
    scope: Cluster
    permissions:
      - apiGroups:
          - ""
          - "apps"
          - "batch"
          - "litmuschaos.io"
          - "storage.k8s.io"
        resources:
          - "daemonsets"
          - "jobs"
          - "pods"
          - "pods/exec"
          - "configmaps"
          - "secrets"
          - "persistentvolumeclaims"
          - "storageclasses"
          - "persistentvolumes"
          - "chaosengines"
          - "chaosexperiments"
          - "chaosresults"
        verbs:
          - "create"
          - "delete"
          - "get"
          - "list"
          - "patch"
          - "update"
    image: "litmuschaos/ansible-runner:1.1.1"
    args:
    - -c
    - ansible-playbook ./experiments/openebs/openebs-target-container-failure/openebs_target_container_failure_ansible_logic.yml -i /etc/ansible/hosts -vv; exit 0
    command:
    - /bin/bash
    env:
    - name: ANSIBLE_STDOUT_CALLBACK
      value: 'default'

    - name: OPENEBS_NAMESPACE
      value: 'openebs'

    - name: APP_PVC
      value: ''

    # LIB_IMAGE can be - gaiaadm/pumba:0.4.8, gprasath/crictl:ci
    # For pumba image use : gaiaadm/pumba:0.4.8
    # For containerd image use : gprasath/crictl:ci
    - name: LIB_IMAGE
      value: 'gaiaadm/pumba:0.4.8'

    # Specify the container runtime used , to pick the relevant chaos util  
    - name: CONTAINER_RUNTIME
      value: 'docker' 

    # TARGET_CONTAINER values: cstor-volume-mgmt , cstor-istgt
    # For cstor-volume-istgt container kill use : cstor-istgt
    # For volume-mgmt-kill container use : cstor-volume-mgmt
            
    - name: TARGET_CONTAINER
      value: 'cstor-volume-mgmt'

    - name: FORCE
      value: 'true'

    - name: LIVENESS_APP_LABEL
      value: ''

    - name: LIVENESS_APP_NAMESPACE
      value: ''

    - name: DATA_PERSISTENCE
      value: ''

    - name: DEPLOY_TYPE
      value: 'deployment'

    - name: TOTAL_CHAOS_DURATION
      value: "60"
      
    labels:
      name: openebs-target-container-failure
    #configmaps:
    #- name: openebs-target-container-failure
    #  mountPath: /mnt
      
