apiVersion: litmuschaos.io/v1alpha1
description:
  message: |
    Injects cpu consumption on pods belonging to an app deployment
kind: ChaosExperiment
metadata:
  name: pod-cpu-hog
  version: 0.1.0
spec:
  definition:
    scope: Namespaced
    permissions:
      apiGroups:
        - ""
        - "batch"
        - "litmuschaos.io"
      resources:
        - "jobs"
        - "pods"
        - "pods/exec"
        - "chaosengines"
        - "chaosexperiments"
        - "chaosresults"
      verbs:
        - "create"
        - "list"
        - "get"
        - "patch"
        - "delete"
    image: "litmuschaos/ansible-runner:ci"
    args:
    - -c
    - ansible-playbook ./experiments/generic/pod_cpu_hog/pod_cpu_hog_ansible_logic.yml -i /etc/ansible/hosts -vv; exit 0
    command:
    - /bin/bash
    env:
    - name: ANSIBLE_STDOUT_CALLBACK
      value: 'default'

    - name: TARGET_CONTAINER
      value: ''

    - name: CPU_CORES
      value: '1'

    - name: TOTAL_CHAOS_DURATION
      value: '60000' #in ms

    - name: LIB
      value: 'litmus'

    - name: LIB_IMAGE
      value: 'litmuschaos/app-cpu-stress:latest' 
    labels:
      name: pod-cpu-hog
