---
apiVersion: litmuschaos.io/v1alpha1
description:
  message: |
    Kill the cstor target/Jiva controller pod and check if gets created again
kind: ChaosExperiment
metadata:
  labels:
    litmuschaos.io/name: openebs
  name: openebs-target-pod-failure
  version: 0.1.2
spec:
  definition:
    permissions:
      apiGroups:
        - ""
        - "extensions"
        - "apps"
        - "batch"
        - "litmuschaos.io"
        - "openebs.io"
        - "storage.k8s.io"
      resources:
        - "daemonsets"
        - "statefulsets"
        - "deployments"
        - "replicasets"
        - "jobs"
        - "pods"
        - "pods/exec"
        - "chaosengines"
        - "chaosexperiments"
        - "chaosresults"
        - "persistentvolumeclaims"
        - "storageclasses"
        - "persistentvolumes"
      verbs:
        - "*"
    image: "litmuschaos/ansible-runner:ci"
    args:
    - -c
    - ansible-playbook ./experiments/openebs/openebs-target-pod-failure/openebs_target_pod_failure_ansible_logic.yml -i /etc/ansible/hosts -vv; exit 0
    command:
    - /bin/bash
    env:
    - name: ANSIBLE_STDOUT_CALLBACK
      value: 'default'

    - name: OPENEBS_NAMESPACE
      value: 'openebs'
      
    - name: APP_PVC
      value: ''

    - name: FORCE
      value: 'true'

    - name: LIVENESS_APP_LABEL
      value: ''

    - name: LIVENESS_APP_NAMESPACE
      value: ''

    - name: DATA_PERSISTENCE
      value: ''

    - name: TOTAL_CHAOS_DURATION
      value: '60'

    - name: CHAOS_INTERVAL
      value: '15'

    - name: DEPLOY_TYPE
      value: 'deployment'

    labels:
      name: openebs-target-pod-failure
    configmaps:
    - name: openebs-target-pod-failure
      data:
        parameters.yml: |
