---

---
apiVersion: litmuschaos.io/v1alpha1
description:
  message: |
    Kill the cstor target/Jiva controller container and check if gets created again
kind: ChaosExperiment
metadata:
  labels:
    litmuschaos.io/name: openebs
  name: openebs-target-container-failure
  version: 0.1.9
spec:
  definition:
    scope: Cluster
    permissions:
      - apiGroups:
          - ""
          - "apps"
          - "batch"
          - "litmuschaos.io"
          - "storage.k8s.io"
        resources:
          - "daemonsets"
          - "jobs"
          - "pods"
          - "pods/exec"
          - "configmaps"
          - "secrets"
          - "persistentvolumeclaims"
          - "storageclasses"
          - "persistentvolumes"
          - "chaosengines"
          - "chaosexperiments"
          - "chaosresults"
        verbs:
          - "create"
          - "delete"
          - "get"
          - "list"
          - "patch"
          - "update"
    image: "litmuschaos/ansible-runner:1.1.1"
    args:
    - -c
    - ansible-playbook ./experiments/openebs/openebs-target-container-failure/openebs_target_container_failure_ansible_logic.yml -i /etc/ansible/hosts -vv; exit 0
    command:
    - /bin/bash
    env:
    - name: ANSIBLE_STDOUT_CALLBACK
      value: 'default'

    - name: OPENEBS_NAMESPACE
      value: 'openebs'

    - name: APP_PVC
      value: ''

    # LIB_IMAGE can be - gaiaadm/pumba:0.4.8, gprasath/crictl:ci
    # For pumba image use : gaiaadm/pumba:0.4.8
    # For containerd image use : gprasath/crictl:ci
    - name: LIB_IMAGE
      value: 'gaiaadm/pumba:0.4.8'

    # Specify the container runtime used , to pick the relevant chaos util  
    - name: CONTAINER_RUNTIME
      value: 'docker' 

    # TARGET_CONTAINER values: cstor-volume-mgmt , cstor-istgt
    # For cstor-volume-istgt container kill use : cstor-istgt
    # For volume-mgmt-kill container use : cstor-volume-mgmt
            
    - name: TARGET_CONTAINER
      value: 'cstor-volume-mgmt'

    - name: FORCE
      value: 'true'

    - name: LIVENESS_APP_LABEL
      value: ''

    - name: LIVENESS_APP_NAMESPACE
      value: ''

    - name: DATA_PERSISTENCE
      value: ''

    - name: DEPLOY_TYPE
      value: 'deployment'

    - name: TOTAL_CHAOS_DURATION
      value: "60"
      
    labels:
      name: openebs-target-container-failure
    #configmaps:
    #- name: openebs-target-container-failure
    #  mountPath: /mnt
      

---

---
apiVersion: litmuschaos.io/v1alpha1
description:
  message: |
    Kill the cstor target/Jiva controller pod and check if gets created again
kind: ChaosExperiment
metadata:
  labels:
    litmuschaos.io/name: openebs
  name: openebs-target-pod-failure
  version: 0.1.10
spec:
  definition:
    scope: Cluster
    permissions:
      - apiGroups:
          - ""
          - "extensions"
          - "apps"
          - "batch"
          - "litmuschaos.io"
          - "storage.k8s.io"
        resources:
          - "deployments"
          - "jobs"
          - "pods"
          - "pods/exec"
          - "configmaps"
          - "secrets"
          - "services"
          - "chaosengines"
          - "chaosexperiments"
          - "chaosresults"
          - "persistentvolumeclaims"
          - "storageclasses"
          - "persistentvolumes"
        verbs:
          - "create"
          - "get"
          - "delete"
          - "list"
          - "patch"
          - "update"
      - apiGroups:
          - ""
        resources:
          - "nodes"
        verbs:
          - "get"
          - "list"
    image: "litmuschaos/ansible-runner:1.1.1"
    args:
    - -c
    - ansible-playbook ./experiments/openebs/openebs-target-pod-failure/openebs_target_pod_failure_ansible_logic.yml -i /etc/ansible/hosts -vv; exit 0
    command:
    - /bin/bash
    env:
    - name: ANSIBLE_STDOUT_CALLBACK
      value: 'default'

    - name: OPENEBS_NAMESPACE
      value: 'openebs'
      
    - name: APP_PVC
      value: ''

    - name: FORCE
      value: 'true'

    - name: LIVENESS_APP_LABEL
      value: ''

    - name: LIVENESS_APP_NAMESPACE
      value: ''

    - name: DATA_PERSISTENCE
      value: ''

    - name: TOTAL_CHAOS_DURATION
      value: '60'

    - name: CHAOS_INTERVAL
      value: '15'

    - name: DEPLOY_TYPE
      value: 'deployment'

    labels:
      name: openebs-target-pod-failure
    #configmaps:
    #- name: openebs-target-pod-failure
    #  mountPath: /mnt

---

apiVersion: litmuschaos.io/v1alpha1
description:
  message: |
    Network delay to target pod belonging to a deployment/statefulset/daemonset
kind: ChaosExperiment
metadata:
  labels:
    litmuschaos.io/name: openebs
  name: openebs-target-network-delay
  version: 0.1.9
spec:
  definition:
    scope: Cluster
    permissions:
      - apiGroups:
          - ""
          - "extensions"
          - "apps"
          - "batch"
          - "litmuschaos.io"
          - "storage.k8s.io"
        resources:
          - "jobs"
          - "pods"
          - "services"
          - "pods/exec"
          - "configmaps"
          - "secrets"
          - "persistentvolumeclaims"
          - "storageclasses"
          - "persistentvolumes"
          - "chaosengines"
          - "chaosexperiments"
          - "chaosresults"
        verbs:
          - "create"
          - "get"
          - "delete"
          - "list"
          - "patch"
          - "update"
    image: "litmuschaos/ansible-runner:1.1.1"
    args:
    - -c
    - ansible-playbook ./experiments/openebs/openebs-target-network-delay/openebs_target_network_delay_ansible_logic.yml -i /etc/ansible/hosts -vv; exit 0
    command:
    - /bin/bash
    env:
    - name: ANSIBLE_STDOUT_CALLBACK
      value: 'default'

    - name: OPENEBS_NAMESPACE
      value: 'openebs'

    - name: APP_PVC
      value: ''

    # only pumba supported
    # For pumba image use : gaiaadm/pumba:0.6.5
    - name: LIB_IMAGE
      value: 'gaiaadm/pumba:0.6.5' 

    - name: NETWORK_DELAY
      value: '60000' # in milliseconds

    - name: TOTAL_CHAOS_DURATION
      value: '60000' # in milliseconds
            
    - name: LIVENESS_APP_LABEL
      value: ''

    - name: LIVENESS_APP_NAMESPACE
      value: ''

    - name: DATA_PERSISTENCE
      value: ''   

    labels:
      name: openebs-target-network-delay
    #configmaps:
    #- name: openebs-target-network-delay
    #  mountPath: /mnt

---

apiVersion: litmuschaos.io/v1alpha1
description:
  message: |
    Network loss to target pod belonging to a OpenEBS PVC
kind: ChaosExperiment
metadata:
  labels:
    litmuschaos.io/name: openebs
  name: openebs-target-network-loss
  version: 0.1.10
spec:
  definition:
    scope: Cluster
    permissions:
      - apiGroups:
          - ""
          - "extensions"
          - "apps"
          - "batch"
          - "litmuschaos.io"
          - "storage.k8s.io"
        resources:
          - "jobs"
          - "pods"
          - "services"
          - "pods/exec"
          - "configmaps"
          - "secrets"
          - "persistentvolumeclaims"
          - "storageclasses"
          - "persistentvolumes"
          - "chaosengines"
          - "chaosexperiments"
          - "chaosresults"
        verbs:
          - "create"
          - "get"
          - "delete"
          - "list"
          - "patch"
          - "update"
    image: "litmuschaos/ansible-runner:1.1.1"
    args:
    - -c
    - ansible-playbook ./experiments/openebs/openebs-target-network-loss/openebs_target_network_loss_ansible_logic.yml -i /etc/ansible/hosts -vv; exit 0
    command:
    - /bin/bash
    env:
    - name: ANSIBLE_STDOUT_CALLBACK
      value: 'default'

    - name: OPENEBS_NAMESPACE
      value: 'openebs'

    - name: APP_PVC
      value: ''

    # only pumba supported
    # For pumba image use : gaiaadm/pumba:0.6.5
    - name: LIB_IMAGE  
      value: 'gaiaadm/pumba:0.6.5' 

    - name: NETWORK_PACKET_LOSS_PERCENTAGE
      value: '100' # in percentage

    - name: TOTAL_CHAOS_DURATION
      value: '120000' # in milliseconds

    - name: LIVENESS_APP_LABEL
      value: ''

    - name: LIVENESS_APP_NAMESPACE
      value: ''

    - name: DATA_PERSISTENCE
      value: ''

    labels:
      name: openebs-target-network-loss
    #configmaps:
    #- name: openebs-target-network-loss
    #  mountPath: /mnt

---

apiVersion: litmuschaos.io/v1alpha1
description:
  message: |
    Network delay to pool pod belonging to a OpenEBS PVC
    This experiment is using pumba lib for network chaos
kind: ChaosExperiment
metadata:
  labels:
    litmuschaos.io/name: openebs
  name: openebs-pool-network-delay
  version: 0.1.3
spec:
  definition:
    scope: Cluster
    permissions:
      - apiGroups:
          - ""
          - "apps"
          - "litmuschaos.io"
          - "batch"
          - "extensions"
          - "storage.k8s.io"
          - "openebs.io"
        resources:
          - "pods"
          - "pods/exec"
          - "jobs"
          - "configmaps"
          - "services"
          - "persistentvolumeclaims"
          - "storageclasses"
          - "persistentvolumes"
          - "chaosengines"
          - "chaosexperiments"
          - "chaosresults"
          - "cstorpools"
          - "cstorvolumereplicas"
          - "replicasets"
        verbs:
          - "create"
          - "get"
          - "list"
          - "patch"
          - "update"
          - "delete"
    image: "litmuschaos/ansible-runner:1.1.1"
    args:
    - -c
    - ansible-playbook ./experiments/openebs/openebs-pool-network-delay/openebs_pool_network_delay_ansible_logic.yml -i /etc/ansible/hosts -vv; exit 0
    command:
    - /bin/bash
    env:
    - name: ANSIBLE_STDOUT_CALLBACK
      value: 'default'

    - name: OPENEBS_NAMESPACE
      value: 'openebs'

    # only pumba supported
    # For pumba image use : gaiaadm/pumba:0.6.5
    - name: LIB_IMAGE  
      value: 'gaiaadm/pumba:0.6.5' 

    # in milliseconds
    - name: NETWORK_DELAY
      value: '60000'

    # in milliseconds  
    - name: TOTAL_CHAOS_DURATION
      value: '60000'

    - name: LIVENESS_APP_LABEL
      value: ''

    - name: LIVENESS_APP_NAMESPACE
      value: ''

    - name: DATA_PERSISTENCE
      value: ''

    labels:
      name: openebs-pool-network-delay

---

---
apiVersion: litmuschaos.io/v1alpha1
description:
  message: |
    Kill the pool pod and check if gets scheduled again
kind: ChaosExperiment
metadata:
  labels:
    litmuschaos.io/name: openebs
  name: openebs-pool-pod-failure
  version: 0.1.7
spec:
  definition:
    scope: Cluster
    permissions:
      - apiGroups:
          - ""
          - "extensions"
          - "apps"
          - "batch"
          - "litmuschaos.io"
          - "openebs.io"
          - "storage.k8s.io"
        resources:
          - "deployments"
          - "replicasets"
          - "jobs"
          - "pods"
          - "configmaps"
          - "secrets"
          - "storageclasses"
          - "persistentvolumeclaims"
          - "cstorvolumereplicas"
          - "chaosengines"
          - "chaosexperiments"
          - "chaosresults"
        verbs:
          - "create"
          - "get"
          - "delete"
          - "list"
          - "patch"
          - "update"
      - apiGroups:
          - ""
        resources:
          - "nodes"
        verbs:
          - "get"
          - "list"
    image: "litmuschaos/ansible-runner:1.1.1"
    args:
    - -c
    - ansible-playbook ./experiments/openebs/openebs-pool-pod-failure/openebs_pool_pod_failure_ansible_logic.yml -i /etc/ansible/hosts -vv; exit 0
    command:
    - /bin/bash
    env:
    - name: ANSIBLE_STDOUT_CALLBACK
      value: default

    - name: OPENEBS_NS
      value: 'openebs'

    - name: APP_PVC
      value: ''

    - name: LIVENESS_APP_LABEL
      value: ''

    - name: LIVENESS_APP_NAMESPACE
      value: '' 

    - name: CHAOS_ITERATIONS
      value: '2'

    - name: DATA_PERSISTENCE
      value: ''

    labels:
      name: openebs-pool-pod-failure
    #configmaps:
    #- name: openebs-pool-pod-failure
    #  mountPath: /mnt
      

---

---
apiVersion: litmuschaos.io/v1alpha1
description:
  message: |
    Kill all openebs control plane pod and check if gets scheduled again
kind: ChaosExperiment
metadata:
  labels:
    litmuschaos.io/name: openebs
  name: openebs-control-plane-validation
  version: 0.1.3
spec:
  definition:
    scope: Namespaced
    permissions:
      - apiGroups:
          - ""
          - "litmuschaos.io"
          - "batch"
          - "apps"
        resources:
          - "pods"
          - "deployments"
          - "jobs"
          - "configmaps"
          - "chaosengines"
          - "chaosexperiments"
          - "chaosresults"
        verbs:
          - "create"
          - "list"
          - "get"
          - "patch"
          - "update"
          - "delete"
      - apiGroups:
          - ""
        resources:
          - "nodes"
        verbs:
          - "get"
          - "list"
      
    image: "litmuschaos/ansible-runner:1.1.1"
    args:
    - -c
    - ansible-playbook ./experiments/openebs/openebs-control-plane-validation/openebs_control_plane_validation_ansible_logic.yml -i /etc/ansible/hosts -vv; exit 0
    command:
    - /bin/bash
    env:
    - name: ANSIBLE_STDOUT_CALLBACK
      value: 'default'

    - name: OPENEBS_NAMESPACE
      value: 'openebs'

    ## Period to wait before injection of chaos  
    - name: RAMP_TIME
      value: ''
    
    - name: FORCE
      value: ''

    ## env var that describes the library used to execute the chaos
    ## default: litmus. Supported values: litmus, powerfulseal
    - name: LIB
      value: ''

    labels:
      name: openebs-control-plane-validation

---

---
apiVersion: litmuschaos.io/v1alpha1
description:
  message: |
    Kill the pool container and check if gets scheduled again
kind: ChaosExperiment
metadata:
  labels:
    litmuschaos.io/name: openebs
  name: openebs-pool-container-failure
  version: 0.1.9
spec:
  definition:
    scope: Cluster
    permissions:
      - apiGroups:
          - ""
          - "extensions"
          - "apps"
          - "batch"
          - "litmuschaos.io"
          - "openebs.io"
          - "storage.k8s.io"
        resources:
          - "daemonsets"
          - "replicasets"
          - "jobs"
          - "pods"
          - "pods/exec"
          - "configmaps"
          - "secrets"
          - "persistentvolumeclaims"
          - "cstorvolumereplicas"
          - "chaosengines"
          - "chaosexperiments"
          - "chaosresults"
        verbs:
          - "create"
          - "get"
          - "delete"
          - "list"
          - "patch"
          - "update"
    image: "litmuschaos/ansible-runner:1.1.1"
    args:
    - -c
    - ansible-playbook ./experiments/openebs/openebs-pool-container-failure/openebs_pool_container_failure_ansible_logic.yml -i /etc/ansible/hosts -vv; exit 0
    command:
    - /bin/bash
    env:
    - name: ANSIBLE_STDOUT_CALLBACK
      value: 'default'

    - name: OPENEBS_NS
      value: 'openebs'

    - name: APP_PVC
      value: ''

    - name: LIVENESS_APP_LABEL
      value: ''

    # only pumba supported
    # For pumba image use : gaiaadm/pumba:0.4.8
    - name: LIB_IMAGE  
      value: 'gaiaadm/pumba:0.4.8' 

    - name: LIVENESS_APP_NAMESPACE
      value: '' 

    - name: DATA_PERSISTENCE
      value: ''

    - name: CHAOS_ITERATIONS
      value: '2'

    labels:
      name: openebs-pool-container-failure
    #configmaps:
    #- name: openebs-pool-container-failure
    #  mountPath: /mnt
  

---

apiVersion: litmuschaos.io/v1alpha1
description:
  message: |
    Network loss to pool pod belonging to a OpenEBS PVC
kind: ChaosExperiment
metadata:
  labels:
    litmuschaos.io/name: openebs
  name: openebs-pool-network-loss
  version: 0.1.3
spec:
  definition:
    scope: Cluster
    permissions:
      - apiGroups:
          - ""
          - "apps"
          - "litmuschaos.io"
          - "batch"
          - "extensions"
          - "storage.k8s.io"
          - "openebs.io"
        resources:
          - "pods"
          - "pods/exec"
          - "jobs"
          - "configmaps"
          - "services"
          - "persistentvolumeclaims"
          - "storageclasses"
          - "persistentvolumeclaims"
          - "persistentvolumes"
          - "chaosengines"
          - "chaosexperiments"
          - "chaosresults"
          - "cstorpools"
          - "cstorvolumereplicas"
          - "replicasets"
        verbs:
          - "create"
          - "get"
          - "delete"
          - "list"
          - "patch"
          - "update"
    image: "litmuschaos/ansible-runner:1.1.1"
    args:
    - -c
    - ansible-playbook ./experiments/openebs/openebs-pool-network-loss/openebs_pool_network_loss_ansible_logic.yml -i /etc/ansible/hosts -vv; exit 0
    command:
    - /bin/bash
    env:
    - name: ANSIBLE_STDOUT_CALLBACK
      value: 'default'

    - name: OPENEBS_NAMESPACE
      value: 'openebs'

    # only pumba supported
    # For pumba image use : gaiaadm/pumba:0.6.5
    - name: LIB_IMAGE  
      value: 'gaiaadm/pumba:0.6.5' 

    - name: NETWORK_PACKET_LOSS_PERCENTAGE
      value: '100' # in percentage

    - name: TOTAL_CHAOS_DURATION
      value: '120000' # in milliseconds

    - name: LIVENESS_APP_LABEL
      value: ''

    - name: LIVENESS_APP_NAMESPACE
      value: ''

    - name: DATA_PERSISTENCE
      value: ''

    labels:
      name: openebs-pool-network-loss

---

