---
# This workflow will combine the experiment CRs for different 
# Categories of experiments into the experiment.yaml in respective
# Chart directory. It will only push the changes from charts directory.

name: ChaosCharts
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      # Install golang
      - uses: actions/setup-go@v2
        with:
          go-version: '^1.13.1'

      # Setup gopath
      - name: Setting up GOPATH 
        run: |
          echo "GOPATH=${GITHUB_WORKSPACE}/go" >> $GITHUB_ENV
          
      # Checkout to the latest commit
      # On specific directory/path
      - uses: actions/checkout@v2
        with:
          ref: ${{steps.getcommit.outputs.sha}}
          path: go/src/github.com/${{github.repository}}    
          
      # Combine the experiment CRs
      - name: Combine experiment CR
        run: |
          export PATH=$PATH:$(go env GOPATH)/bin
          cd ${GOPATH}/src/github.com/${{github.repository}}
          make combineExpCR
        shell: bash

      # Upload chart directory as an artifact
      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: ChaosExp-CR
          path: |
            go/src/github.com/${{github.repository}}/charts

  push:
    runs-on: ubuntu-latest
    needs: build
    if: github.event_name == 'push' && github.repository == 'litmuschaos/chaos-charts'
    steps:
      # Checkout to the latest commit
      # On a specific directory/path
      - name: Checkout
        uses: actions/checkout@v2  
        with:
          ref: ${{steps.getcommit.outputs.sha}}
          path: go/src/github.com/${{github.repository}}

      # Download the artifact which contains
      # The chart directory changes
      - name: Download artifact
        uses: actions/download-artifact@v2
        with:
          name: ChaosExp-CR
          path: go/src/github.com/${{github.repository}}/charts
        
      # Commit the changes from the chart directory 
      - name: Commit the changes
        run: |
          cd go/src/github.com/${{github.repository}}
          make push
        shell: bash

      # Push the changes
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }} 
          directory: go/src/github.com/${{github.repository}}

