apiVersion: litmuschaos.io/v1alpha1
description:
  message: |
    Network loss to pool pod belonging to a OpenEBS PVC
kind: ChaosExperiment
metadata:
  labels:
    litmuschaos.io/name: openebs
  name: openebs-pool-network-loss
  version: 0.1.0
spec:
  definition:
    scope: Cluster
    permissions:
      - apiGroups:
          - ""
          - "extensions"
          - "apps"
          - "batch"
          - "litmuschaos.io"
          - "storage.k8s.io"
        resources:
          - "jobs"
          - "pods"
          - "services"
          - "pods/exec"
          - "configmaps"
          - "secrets"
          - "persistentvolumeclaims"
          - "storageclasses"
          - "persistentvolumes"
          - "chaosengines"
          - "chaosexperiments"
          - "chaosresults"
        verbs:
          - "create"
          - "get"
          - "delete"
          - "list"
          - "patch"
          - "update"
    image: "litmuschaos/ansible-runner:ci"
    args:
    - -c
    - ansible-playbook ./experiments/openebs/openebs-pool-network-loss/openebs_pool_network_loss_ansible_logic.yml -i /etc/ansible/hosts -vv; exit 0
    command:
    - /bin/bash
    env:
    - name: ANSIBLE_STDOUT_CALLBACK
      value: 'default'

    - name: OPENEBS_NAMESPACE
      value: 'openebs'

    # only pumba supported
    # For pumba image use : gaiaadm/pumba:0.6.5
    - name: LIB_IMAGE  
      value: 'gaiaadm/pumba:0.6.5' 

    - name: NETWORK_PACKET_LOSS_PERCENTAGE
      value: '100' # in percentage

    - name: TOTAL_CHAOS_DURATION
      value: '120000' # in milliseconds

    - name: LIVENESS_APP_LABEL
      value: ''

    - name: LIVENESS_APP_NAMESPACE
      value: ''

    - name: DATA_PERSISTENCE
      value: 'busybox'

    labels:
      name: openebs-pool-network-loss
    configmaps:
      - name: openebs-pool-network-loss
        mountPath: /mnt